# IDE
.vs/
.idea/
.vscode/

# Build dirs (en cualquier profundidad)
**/bin/**
**/obj/**
**/build/**
**/out/**
**/Debug/**
**/Release/**
cmake-build-*/
CMakeFiles/
CMakeCache.txt

# CMake
CMakeFiles/
CMakeCache.txt

# VS caches
*.ipch
*.VC.db
*.opendb
*.user
*.suo
*.cache

# Debug/Release en cualquier nivel
**/Debug/**
**/Release/**

# Símbolos y cachés
*.pdb